<section id="about" class="section">
    <div @enterState class="container-section section-separator">
  
        <div class="section-title">
            <h2>About me</h2>
        </div>

            <div class="row justify-content-center">
                <div class="col-md-3 justify-content-center perfil">
                    <img src="/assets/img/perfil-about.png" alt="image perfil" class="img-fluid">
                    <h3>Front-End Developer</h3>
                    <a class=" btn btn-standar" [routerLink]="['/contacto']">Download cv <i class="fas fa-download"></i></a>
                </div>

                <div class="col-md-8">
                    <div class="row about-info">
                        <div class="col-md-6 info-block">
                            <div class="info-icon icono colorcentral"><i class="fas fa-user"></i></div>
                            <div class="info-text"><span><b>Name</b> <br>Ana Suarez</span></div>
                        </div> 

                            <div class="col-md-6 info-block">
                            <div class="info-icon icono colorcentral"><i class="fas fa-envelope-square"></i></div>
                            <div class="info-text"><span><b>Email</b><br>info@suarezana.com</span></div>
                        </div>

                        <div class="col-md-6 info-block">
                            <div class="info-icon icono colorcentral"><i class="fas fa-phone-volume"></i></div>
                            <div class="info-text"><span><b>Phone</b> <br>+54 9 1122530084</span></div>
                        </div>
                        
                        <div class="col-md-6 info-block">
                            <div class="info-icon icono colorcentral"><i class="fas fa-map-marker-alt"></i></div>
                            <div class="info-text"><span><b>Address</b><br>CABA,Argentina</span></div>
                        </div>

                        <div class="col-md-6 info-block">
                            <div class="info-icon icono colorcentral"><i class="fas fa-birthday-cake"></i></div>
                            <div class="info-text"><span><b>Birthdate</b><br>23/09/1994</span></div>
                        </div>

                        <div class="col-md-6 info-block">
                            <div class="info-icon icono colorcentral"><i class="fas fa-flag"></i></div>
                            <div class="info-text"><span><b>Nationality</b><br>Venezuelan</span></div>
                        </div>
                    </div>

                    <div class="col-md-12 social-profile">
                        <span> <b> Social profiles</b></span> 
                        <a href="https://www.facebook.com/Anasuarezsoyyo" target="_blank"><i class="fa fa-facebook-official"></i></a>
                        <a href="https://www.instagram.com/suarezana20/?hl=es-la" target="_blank"><i class="fa fa-instagram"></i></a>
                        <a href="https://twitter.com/ana_suarez17" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.linkedin.com/in/ana-suarez-982abb162/" target="_blank"><i class="fa fa-linkedin"></i></a>
                        <a href="https://github.com/suarezana9"target="_blank"><i class="fa fa-github"></i></a>
                    </div>

                    <div class="col-md-12 info-description">
                        <p> <b>My name is Ana Maria, I like to do things that help people, and I found in technology how to do it.</b> <br> Although there are many branches of programming, I am inclined towards web technology, specifically HTML, CSS and JAVASCRIPT. I am self-taught so I keep constantly learning, nowadays I am working with the Angular framework, in addition to node js and MongoDB.</p>
                        <p><b>My objectives</b>  are increasing my knowledge  in of field the systems and new technologies especially, web development and web Design field. Always looking forward to learn new technologies and be a part of a huge change in the world.</p>
                        <br>
                        <p>Sincerely,</p>
                        <img src="/assets/img/firma1.png" height="60px" width="180px" alt="firma">
                    </div>
                    
                       
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 justify-content-center">

                    <div class="mh-professional-skills wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s" style="visibility: visible; animation-duration: 0.8s; animation-delay: 0.5s; animation-name: fadeInUp;">

                        <div class="section-title">
                            <h2>Skills</h2>
                        </div>

                        <ul class="mh-professional-progress">

                            <li>
                                <div class="mh-progress mh-progress-circle active" data-progress=10 style="position: relative;">

                                    <svg viewBox="0 0 100 100">

                                        <path d="M 50,50 m 0,-47.5 a 47.5,47.5 0 1 1 0,95 a 47.5,47.5 0 1 1 0,-95" stroke="#eee" stroke-width="5" fill-opacity="0"></path>

                                        <path d="M 50,50 m 0,-47.5 a 47.5,47.5 0 1 1 0,95 a 47.5,47.5 0 1 1 0,-95" stroke="#555" stroke-width="5" fill-opacity="0" style="stroke-dasharray: 298.493px, 298.493px; stroke-dashoffset: 14.9247px;"></path>

                                    </svg>

                                    <p style="position: absolute; top: 50%; left: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: rgb(85, 85, 85);" class="progressbar-text">95%</p>

                                </div>
                                
                                <div class="pr-skill-name">HTML</div>
                            </li>

                            <li>
                                <div class="mh-progress mh-progress-circle active" data-progress="80" style="position: relative;">

                                    <svg viewBox="0 0 100 100">

                                        <path d="M 50,50 m 0,-47.5 a 47.5,47.5 0 1 1 0,95 a 47.5,47.5 0 1 1 0,-95" stroke="#eee" stroke-width="5" fill-opacity="0"></path>

                                        <path d="M 50,50 m 0,-47.5 a 47.5,47.5 0 1 1 0,95 a 47.5,47.5 0 1 1 0,-95" stroke="#555" stroke-width="5" fill-opacity="0" style="stroke-dasharray: 298.493px, 298.493px; stroke-dashoffset: 40.322px;"></path>

                                    </svg>

                                    <p style="position: absolute; top: 50%; left: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: rgb(85, 85, 85);" class="progressbar-text">80%</p>

                                </div> 
                                
                                <div class="pr-skill-name">CSS</div>
                            </li>

                            <li>
                                <div class="mh-progress mh-progress-circle active" data-progress="60" style="position: relative;">

                                    <svg viewBox="0 0 100 100">

                                        <path d="M 50,50 m 0,-47.5 a 47.5,47.5 0 1 1 0,95 a 47.5,47.5 0 1 1 0,-95" stroke="#eee" stroke-width="5" fill-opacity="0"></path>

                                        <path d="M 50,50 m 0,-47.5 a 47.5,47.5 0 1 1 0,95 a 47.5,47.5 0 1 1 0,-95" stroke="#555" stroke-width="5" fill-opacity="0" style="stroke-dasharray: 298.493px, 298.493px; stroke-dashoffset: 111.789px;"></path>

                                    </svg>

                                    <p style="position: absolute; top: 50%; left: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: rgb(85, 85, 85);" class="progressbar-text">60%</p>

                                </div>

                                <div class="pr-skill-name">JAVASCRIPT</div>
                            </li> 

                            <li>
                                <div class="mh-progress mh-progress-circle active" data-progress="70" style="position: relative;">

                                    <svg viewBox="0 0 100 100">
                                        
                                        <path d="M 50,50 m 0,-47.5 a 47.5,47.5 0 1 1 0,95 a 47.5,47.5 0 1 1 0,-95" stroke="#eee" stroke-width="5" fill-opacity="0"></path>
                                        
                                        <path d="M 50,50 m 0,-47.5 a 47.5,47.5 0 1 1 0,95 a 47.5,47.5 0 1 1 0,-95" stroke="#555" stroke-width="5" fill-opacity="0" style="stroke-dasharray: 298.493px, 298.493px; stroke-dashoffset: 80.397px;"></path>
                                    </svg>

                                    <p style="position: absolute; top: 50%; left: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: rgb(85, 85, 85);" class="progressbar-text">70%</p>

                                </div>

                                <div class="pr-skill-name">JQUERY</div>
                            </li>

                            <li>
                                <div class="mh-progress mh-progress-circle active" data-progress="70" style="position: relative;">

                                    <svg viewBox="0 0 100 100">
                                        
                                        <path d="M 50,50 m 0,-47.5 a 47.5,47.5 0 1 1 0,95 a 47.5,47.5 0 1 1 0,-95" stroke="#eee" stroke-width="5" fill-opacity="0"></path>
                                        
                                        <path d="M 50,50 m 0,-47.5 a 47.5,47.5 0 1 1 0,95 a 47.5,47.5 0 1 1 0,-95" stroke="#555" stroke-width="5" fill-opacity="0" style="stroke-dasharray: 298.493px, 298.493px; stroke-dashoffset: 80.397px;"></path>
                                    </svg>

                                    <p style="position: absolute; top: 50%; left: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: rgb(85, 85, 85);" class="progressbar-text">70%</p>

                                </div>

                                <div class="pr-skill-name">BOOTSTRAP</div>
                            </li>

                            <li>
                                <div class="mh-progress mh-progress-circle active" data-progress="60" style="position: relative;">

                                    <svg viewBox="0 0 100 100">

                                        <path d="M 50,50 m 0,-47.5 a 47.5,47.5 0 1 1 0,95 a 47.5,47.5 0 1 1 0,-95" stroke="#eee" stroke-width="5" fill-opacity="0"></path>

                                        <path d="M 50,50 m 0,-47.5 a 47.5,47.5 0 1 1 0,95 a 47.5,47.5 0 1 1 0,-95" stroke="#555" stroke-width="5" fill-opacity="0" style="stroke-dasharray: 298.493px, 298.493px; stroke-dashoffset: 111.789px;"></path>

                                    </svg>

                                    <p style="position: absolute; top: 50%; left: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: rgb(85, 85, 85);" class="progressbar-text">60%</p>

                                </div>

                                <div class="pr-skill-name">ANGULAR</div>
                            </li> 

                        </ul>

                    </div>
            </div>
        </div> 
     </div>    
</section>

 
