<section id="contact" class="section">
  <div @enterState class="container-section">

      <div class="section-title">
          <h2>Contact me</h2>
      </div>
          <div class="row justify-content-center contact-info">
              
              <div class=" col-lg-6 col-md-6 col-sm-12 info-block" >
                  <h2>Contact Address</h2>

                  <div class="contact-block"><i class="fas fa-envelope-square"></i><span> <b>Email:</b>  info@suarezana.com</span></div>
                
                  <div class="contact-block"><i class="fas fa-phone-volume"></i><span><b> Phone:</b> +54 9 1122530084</span></div>
              
                  <div class="contact-block"><i class="fas fa-map-marker-alt"></i><span><b>Address:</b>  CABA, Argentina</span></div>

              </div>

                
                <div class="col-lg-6 col-md-6 col-sm-12 info-form" id="formulario">

                    <h2>Ready to talk about working together?</h2>

                    <form class="needs-validation" (ngSubmit)="sendEmail(f)" #f="ngForm" novalidate>
                       
                        <div class="form-group">
                          
                          <label for="usuario">Name</label>

                          <input type="text" id="usuario" name="name" class="form-control" placeholder="Enter your name, maximum 6 characters, without using numbers" minlength="2" maxlength="6" pattern="(?=.*[A-Za-z]).{2,6}" [(ngModel)] ="customer.name"  required>

                          <div class="valid-feedback">Valid.</div>
                          <div class="invalid-feedback">Please fill out this field.</div>

                        </div>

                        <div class="form-group">

                          <label for="email">Email</label>

                          <input type="email" id="email" class="form-control"  placeholder="Enter your email" name="email" [(ngModel)] ="customer.email" required>

                          <div class="valid-feedback">Valid.</div>
                          <div class="invalid-feedback">Please fill out this field.</div>

                        </div>

                        <div class="form-group">
                            <label for="mensajes">Message:</label>
                            
                            <textarea class="form-control" placeholder="Enter your message" rows="5" id="mensajes" name="message" [(ngModel)]="customer.message" required></textarea>
                            
                            <div class="valid-feedback">Valid.</div>
                            <div class="invalid-feedback">Please fill out this field.</div>
                        </div>

                        <div *ngIf="errorCreado" class="alert alert-danger">{{mensajeApi}}</div>
                        <div *ngIf="creado" class="alert alert-success">{{mensajeApi}}</div>

                        <button type="submit" class="btn btn-standar">Send message</button>

                      </form>

                  </div>

          </div>
      </div>
</section>

