<section id="services" class="section">
    <div  @enterState class="container-fluid container-section">

        <div class="section-title">
            <h2>Services</h2>
        </div>

        <div class="row justify-content-center">

            <div class="col-lg-4 col-md-6 col-sm-12">
             <div class="card box1">
                <div class="overlay"></div>
                <div class="service-box-content">
                    <h3>Web Design</h3>
                    <p class="card-text text-muted">
                        The best digital user experiences through manageable and friendly websites for mobile devices, e-commerce or web applications.</p>
                        <a class="btn btn-standar"  [routerLink]="['/contacto']">I need it</a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">

                <div class="card box2">
                    <div class="overlay"></div>
                <div class="service-box-content">
                    <h3>Web Development </h3>
                    <p class="card-text text-muted">Responsive, self-managed, functional, efficient and impactful websites that adapt to the needs of your company.</p>
                    <a class="btn btn-standar"  [routerLink]="['/contacto']">I need it</a>
                </div>
               </div>

            </div> 

            <div class="col-lg-4 col-md-6 col-sm-12">

                <div class="card box3">
                    <div class="overlay"></div>
                <div class="service-box-content">
                    <h3>Seo Position</h3>
                    <p class="card-text text-muted">
                        Webs optimized to reach the right target audience through the right channels and higher search engine scores that ensure lasting impact.
                    </p>
                    <a class="btn btn-standar" [routerLink]="['/contacto']" >I need it</a>
                </div>
               </div>
            </div> 

         </div>
        
<!-- 
<div class="container-fluid">

    <div class="card-group">
      <div class="card box1  col-lg-4 col-md-6 col-sm-12">
        <div class="card-body text-center">
            <h3>Web Design</h3>
            <p class="card-text text-muted">
            The best digital user experiences through manageable and friendly websites for mobile devices, e-commerce or web applications.</p>
            <a class="btn btn-standar"  [routerLink]="['/contacto']">I need it</a>
        </div>
      </div>
      <div class="card box2  col-lg-4 col-md-6 col-sm-12">
        <div class="card-body text-center">
            <h3>Web Development </h3>
            <p class="card-text text-muted">Responsive, self-managed, functional, efficient and impactful websites that adapt to the needs of your company.</p>
            <a class="btn btn-standar"  [routerLink]="['/contacto']">I need it</a>
        </div>
      </div>
      <div class="card box3 col-lg-4 col-md-6 col-sm-12">
        <div class="card-body text-center">
          <h3>Seo Position</h3>
          <p class="card-text text-muted">Webs optimized to reach the right target audience through the right channels and higher search engine scores that ensure lasting impact.</p>
          <a class="btn btn-standar"  [routerLink]="['/contacto']">I need it</a>
        </div>
      </div>

    </div>
</div> -->

    </div>
</section>