<div *ngIf="!load">
  <div class="spinner">
    <img src="assets/img/Spinner.gif" alt="loading">
  </div>
</div>



<body>
<div *ngIf="load">
 
<header>

<nav  [class.header_change]="header_variable" class="navbar navbar-expand-lg navbar-dark scrolling-navbar fixed-top">
  
   <a class="navbar-brand" [routerLink]="['/home']"><img src="/assets/img/firma2.png" height="50px" width="100px" alt="logo"></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"> 
    <i class="fas fa-bars"></i>
  </button>
 
      <div class="collapse navbar-collapse" id="collapsibleNavbar">

        <ul class="navbar-nav mx-auto">

            <li class="nav-item">
              
              <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/sobre-mi']" [routerLinkActive]="['active']">About me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/servicios']" [routerLinkActive]="['active']">Services</a>
            </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/portafolio']" [routerLinkActive]="['active']">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  [routerLink]="['/contacto']"  [routerLinkActive]="['active']">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/blog']"  [routerLinkActive]="['active']">Blog</a>
            </li>
        </ul>

      </div> 
 
</nav> 
<div *ngIf="routeIsActive('/')  || routeIsActive('/home')">
  <div @enterState class="container-fluid banner img-fluid">
      <div class="col-md-12 col-xs-12 contenido"> 
        
        <h1>I'm 
          <span class="text-1">Ana Suarez</span>
          <span class="text-2">Web Designer</span>
        </h1>
        <div>
           <p>Front End Developer & System Engineer</p> 
        </div>
        <div class=" col-md-12 redesIcon">
          <a href="https://www.facebook.com/Anasuarezsoyyo" target="_blank" style="color: white;"><i class="fa fa-facebook-official"></i></a>
          <a href="https://www.instagram.com/suarezana20/?hl=es-la" target="_blank"><i class="fa fa-instagram"></i></a>
          <a href="https://twitter.com/ana_suarez17" target="_blank"><i class="fa fa-twitter"></i></a>
          <a href="https://www.linkedin.com/in/ana-suarez-982abb162/" target="_blank"><i class="fa fa-linkedin"></i></a>
          <a href="https://github.com/suarezana9"target="_blank"><i class="fa fa-github"></i></a>
        </div>

      </div>
     
   </div>
   <svg  class="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#fff" fill-opacity="1" d="M0,256L48,229.3C96,203,192,149,288,154.7C384,160,480,224,576,218.7C672,213,768,139,864,128C960,117,1056,171,1152,197.3C1248,224,1344,224,1392,224L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
 
</div>

<router-outlet></router-outlet> 

   <app-about *ngIf="routeIsActive('/')  || routeIsActive('/home')"></app-about>
   <app-servicios *ngIf="routeIsActive('/')  || routeIsActive('/home')" ></app-servicios>
   <app-portafolio *ngIf="routeIsActive('/')  || routeIsActive('/home')"></app-portafolio>
   <app-contacto *ngIf="routeIsActive('/')  || routeIsActive('/home')"></app-contacto>
   
</header>




<!-- Footer -->
<footer class="footer colorcentral">
  
  <a href="https://www.facebook.com/Anasuarezsoyyo" target="_blank"><i class="fa fa-facebook-official"></i></a>
  <a href="https://www.instagram.com/suarezana20/?hl=es-la" target="_blank"><i class="fa fa-instagram"></i></a>
  <a href="https://twitter.com/ana_suarez17" target="_blank"><i class="fa fa-twitter"></i></a>
  <a href="https://www.linkedin.com/in/ana-suarez-982abb162/" target="_blank"><i class="fa fa-linkedin"></i></a>
  <a href="https://github.com/suarezana9"target="_blank"><i class="fa fa-github"></i></a>
  <p class="textFooter">Powered by @suarezana.com&copy;2020 all rights reserved</p>
<!-- End footer -->
</footer>
</div>
</body>